
.addModal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Input-Container{
    width: 400px;
    height: 400px;
    border-radius: 5px;
    background-color: #fff;
    display: grid;
    grid-template: .5fr 5fr/ 1fr 5fr;
    position: relative;
    .Addmodal-Container{
        position: static;
        width: 100%;
        height: 100%;
        display: flex;
        grid-area: 1/1/2/3;
        justify-content: space-between;
        padding: .5rem;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px 5px 0 0;
        color: #fff;
        .Addmodal-Exit{
            padding: .2rem .5rem;
            border-radius: 100px;
            cursor: pointer;
            &:hover{
                background-color: red;
                transform: scale(1.1);
            }
        }
    }
    
}
.Addmodal-Nav{
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
    text-align: center;
    padding: 1.2rem .5rem;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    // margin-top: 10px;
    button{
        padding: .5rem;
        border-radius: 5px;
        font-weight: bold;
        position: relative;
        background-color: transparent;
        cursor: pointer;
        &::after{
            @include AnchortagAfter();
        }
        &:hover::after{
            @include AnchorTagHover();
        }     
    }
}
.Addmodal-Aside{
    grid-area: 2/2/3/3;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 5fr .5fr 1fr;
    gap: .5rem;
    padding: 0 .5rem;
    // justify-items: center;
}
.inputs{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    padding-right: .5rem;
    .input-title{
        height: 20%;
        width: 100%;
        padding: .5rem;
        border: none;
        font-weight: bold;
        cursor: text;
        margin-top: 10px;
    }
    .text-description{
        @extend .input-title;
        resize: none;
        height: 80%;
    }   
}
.tasks-Only{
    display: flex;
    align-items: center;
}
label{
    font-weight: bold;
}
.Prioritymodal-Section{
    width: 75%;
    justify-content: center;
    .PriorityContainer{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        place-content: center;
        h3{
            grid-column: 1/2;
            padding-right: 10px;
        }
        .prio-btn{
            width: 100%;
            grid-column: 2/3;
            display: flex;
            gap: .5rem;
            button{
                width: 33.3%;
                cursor: pointer;
                border-radius: 5px;
                font-size: 8px;
                font-weight: bold;
                padding: .2rem;
                background-color: transparent;
                &:nth-child(1){
                    border: 2px solid #6df0d4;
                    color: #6df0d4;
                }
                &:nth-child(2){
                    border: 2px solid #d2eb63;
                    color: #d2eb63;
                }
                &:nth-child(3){
                    border: 2px solid #170775;
                    color: #170775;
                }
                &:hover{
                    @extend .special-btn;
                    transform: scale(1.1);
                    transition: 0ms;
                }
            }
            
        }
    }
}
.addModal-btn{
    position: absolute;
    left: 8px;
    bottom: 10px;
    width: 70px;
    .New-Add{
        padding: .5rem .2rem;
        font-weight: bold;
        border: 2px solid red;
        color: white;
        font-size: 10px;
        border-radius: 5px;
        background-color: rgb(0, 0, 0, .2);
        cursor: pointer;
        &:hover{
            background-color: red;
            color: black;
            transition: 1s ease-in-out;
        }
    }
}