
@mixin AnchortagAfter(){
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0px;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out; 
}
@mixin AnchorTagHover(){
    transform: scaleX(1);
    transform-origin: bottom left; 
}

.special-btn{
    @extend .mainBtn;
    background-color: red;
    color: black;
    &::after{
        height: 0;
    }
    &:hover::after{
        background-color: transparent;
    }
}