@import './variables.scss';
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    cursor: default;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.mainContainer{
    min-height: 100vh;
    max-width: 100vw;
    background-image: linear-gradient(55deg, rgba(208, 208, 208, 0.03) 0%, rgba(208, 208, 208, 0.03) 20%,rgba(55, 55, 55, 0.03) 20%, rgba(55, 55, 55, 0.03) 40%,rgba(81, 81, 81, 0.03) 40%, rgba(81, 81, 81, 0.03) 60%,rgba(208, 208, 208, 0.03) 60%, rgba(208, 208, 208, 0.03) 80%,rgba(191, 191, 191, 0.03) 80%, rgba(191, 191, 191, 0.03) 100%),linear-gradient(291deg, rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 14.286%,rgba(105, 105, 105, 0.02) 14.286%, rgba(105, 105, 105, 0.02) 28.572%,rgba(230, 230, 230, 0.02) 28.572%, rgba(230, 230, 230, 0.02) 42.858%,rgba(216, 216, 216, 0.02) 42.858%, rgba(216, 216, 216, 0.02) 57.144%,rgba(181, 181, 181, 0.02) 57.144%, rgba(181, 181, 181, 0.02) 71.42999999999999%,rgba(129, 129, 129, 0.02) 71.43%, rgba(129, 129, 129, 0.02) 85.71600000000001%,rgba(75, 75, 75, 0.02) 85.716%, rgba(75, 75, 75, 0.02) 100.002%),linear-gradient(32deg, rgba(212, 212, 212, 0.03) 0%, rgba(212, 212, 212, 0.03) 12.5%,rgba(223, 223, 223, 0.03) 12.5%, rgba(223, 223, 223, 0.03) 25%,rgba(11, 11, 11, 0.03) 25%, rgba(11, 11, 11, 0.03) 37.5%,rgba(86, 86, 86, 0.03) 37.5%, rgba(86, 86, 86, 0.03) 50%,rgba(106, 106, 106, 0.03) 50%, rgba(106, 106, 106, 0.03) 62.5%,rgba(220, 220, 220, 0.03) 62.5%, rgba(220, 220, 220, 0.03) 75%,rgba(91, 91, 91, 0.03) 75%, rgba(91, 91, 91, 0.03) 87.5%,rgba(216, 216, 216, 0.03) 87.5%, rgba(216, 216, 216, 0.03) 100%),linear-gradient(312deg, rgba(113, 113, 113, 0.01) 0%, rgba(113, 113, 113, 0.01) 14.286%,rgba(54, 54, 54, 0.01) 14.286%, rgba(54, 54, 54, 0.01) 28.572%,rgba(166, 166, 166, 0.01) 28.572%, rgba(166, 166, 166, 0.01) 42.858%,rgba(226, 226, 226, 0.01) 42.858%, rgba(226, 226, 226, 0.01) 57.144%,rgba(109, 109, 109, 0.01) 57.144%, rgba(109, 109, 109, 0.01) 71.42999999999999%,rgba(239, 239, 239, 0.01) 71.43%, rgba(239, 239, 239, 0.01) 85.71600000000001%,rgba(54, 54, 54, 0.01) 85.716%, rgba(54, 54, 54, 0.01) 100.002%),linear-gradient(22deg, rgba(77, 77, 77, 0.03) 0%, rgba(77, 77, 77, 0.03) 20%,rgba(235, 235, 235, 0.03) 20%, rgba(235, 235, 235, 0.03) 40%,rgba(215, 215, 215, 0.03) 40%, rgba(215, 215, 215, 0.03) 60%,rgba(181, 181, 181, 0.03) 60%, rgba(181, 181, 181, 0.03) 80%,rgba(193, 193, 193, 0.03) 80%, rgba(193, 193, 193, 0.03) 100%),linear-gradient(80deg, rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 14.286%,rgba(114, 114, 114, 0.02) 14.286%, rgba(114, 114, 114, 0.02) 28.572%,rgba(240, 240, 240, 0.02) 28.572%, rgba(240, 240, 240, 0.02) 42.858%,rgba(221, 221, 221, 0.02) 42.858%, rgba(221, 221, 221, 0.02) 57.144%,rgba(74, 74, 74, 0.02) 57.144%, rgba(74, 74, 74, 0.02) 71.42999999999999%,rgba(201, 201, 201, 0.02) 71.43%, rgba(201, 201, 201, 0.02) 85.71600000000001%,rgba(187, 187, 187, 0.02) 85.716%, rgba(187, 187, 187, 0.02) 100.002%),linear-gradient(257deg, rgba(72, 72, 72, 0.03) 0%, rgba(72, 72, 72, 0.03) 16.667%,rgba(138, 138, 138, 0.03) 16.667%, rgba(138, 138, 138, 0.03) 33.334%,rgba(54, 54, 54, 0.03) 33.334%, rgba(54, 54, 54, 0.03) 50.001000000000005%,rgba(161, 161, 161, 0.03) 50.001%, rgba(161, 161, 161, 0.03) 66.668%,rgba(17, 17, 17, 0.03) 66.668%, rgba(17, 17, 17, 0.03) 83.33500000000001%,rgba(230, 230, 230, 0.03) 83.335%, rgba(230, 230, 230, 0.03) 100.002%),linear-gradient(47deg, rgba(191, 191, 191, 0.01) 0%, rgba(191, 191, 191, 0.01) 16.667%,rgba(27, 27, 27, 0.01) 16.667%, rgba(27, 27, 27, 0.01) 33.334%,rgba(66, 66, 66, 0.01) 33.334%, rgba(66, 66, 66, 0.01) 50.001000000000005%,rgba(36, 36, 36, 0.01) 50.001%, rgba(36, 36, 36, 0.01) 66.668%,rgba(230, 230, 230, 0.01) 66.668%, rgba(230, 230, 230, 0.01) 83.33500000000001%,rgba(93, 93, 93, 0.01) 83.335%, rgba(93, 93, 93, 0.01) 100.002%),linear-gradient(90deg, #ffffff,#ffffff);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
header{
    width: 95%;
    height:  50px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 .5rem;
    color: #ffffff;
    position: fixed;
    z-index: 1;
    .logoDiv{
        height: 100%;
        width: 70%;
        display: flex;
        align-items: center;
        svg{
            height: 50px;
        }
    }
    nav{
        display: flex;
        width: 30%;
        justify-content: flex-end;
        column-gap: .5rem;
        
        a{
            background-color: transparent;
            text-decoration: none;
            border: none;
            width: 33.3%;
            text-align: center;
            font-weight: bold;
            padding: .5rem;
            border-radius: 5px;
            position: relative;
            color: #ffffff;
            cursor: pointer;
            &:after{
                @include AnchortagAfter();
            }
            &:hover::after{
                @include AnchorTagHover(); 
            }
        }

    } 
}
.mainHome{
    height: 100vh;
    width: 100%;
    display: flex;
    // flex-direction: column;
    align-items: center;
    // justify-content: center;
    scroll-margin-top: 60px;
    position: relative;
    article{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-left: 1.5rem;
        p{
            font-size: 1.5rem;
        }
        h2{
            font-size: 2rem;
            span{
                color: red;
                padding-right: 10px;
            }
        }

    }
    .wave-svg{
        position: absolute;
        width: 100%;
        // height: 200px;
        bottom: 0;
        left: 0;
    }
}

.mainTasks{
    height: 100vh;
    width: 95%;
    h3{
        width: 100%;
        height: 8%;
        margin-top: 4.7rem;
        text-align: center;
        font-weight: bold;
        font-size: x-large;
        position: relative;
        scroll-margin-top: 60px;
        &::after{
            content: "";
            display: block;
            height: 2px;
            width: 100px; 
            background-color: #000; 
            position: absolute;
            top: 27px;
            bottom: 0;
            left: 50%; 
            transform: translateX(-50%);     
        }
    }
    .tasksMain{
        height: 80%;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        position: relative;
        .tasksAdd{
            position: absolute;
            height: 50px;
            width: 50px;
            bottom: 10px;
            right: 10px;
            cursor: pointer;
            &:hover{
                fill: red;
                transform: scale(1.1);
            }
        }
    }
    
}
.mainNotes{
    @extend .mainTasks;
    h3{
        @extend h3;
    }
    .notesMain{
        @extend .tasksMain;
        height: 78%;
        .notesAdd{
            @extend .tasksAdd;
        }
    }
}


